<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Usuários</title>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(#58caff, #c4fbff);
      width: 100vw;
      height: 100vh;
      font-family: "Montserrat", sans-serif;
    }
    .container {
      display: flex;
      align-self: center;
      justify-self: center;
      background-color: rgba(255, 255, 255, 0.9);
      width: 300px;
      height: 200px;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0px 0px 20px #419dc7;
    }
    h3,
    p {
      display: inline;
      padding: 1px;
      background-color: #fff;
      border-radius: 5px;
      color: #419dc7;
    }
    header {
      align-self: center;
      text-align: center;
      background-color: #fff;
      width: 95%;
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 20px #419dc7;
    }
  </style>
</head>
